<div class="container-fluid text-center py-2">
    <div class="d-flex justify-content-between">
        <div class="col-6 d-flex justify-content-start">
            {% if request.user.is_authenticated %}
                <a class="col-0.5 btn btn-outline-light mx-1" href="{% url 'logs:main_page' %}">«</i></a>
                <a class="col-3 btn btn-outline-light mx-1" href="{% url 'logs:anomalous_events_list' %}">Аномальные события</a>
                <a class="col-2 btn btn-outline-light mx-1" href="{% url 'logs:log_files_list' %}">Лог-файлы</a>
                <a class="col-3 btn btn-outline-light mx-1" href="{% url 'logs:log_types_list' %}">Типы протоколов / ПО</a>
                <a class="col-3 btn btn-outline-light mx-1" href="{% url 'logs:search_patterns_list' %}">Поисковые паттерны</a>
                <a class="col-4 btn btn-outline-light mx-1" href="{% url 'logs:one_time_scans_list' %}">Одноразовые сканирования</a>
            {% endif %}
        </div>
        <div class="col-3 d-flex justify-content-end">

            {% if request.user.role == 'ADMIN' %}
                <a class="col-5 btn btn-outline-light mx-1" href="{% url 'users:users_list' %}">Пользователи системы</a>
            {% endif %}

            {% if request.user.is_authenticated %}
                <form class="col-5" action="{% url 'users:user_logout' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-outline-light w-100" type="submit">Выйти из аккаунта</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <a class="col-6 btn btn-outline-light mx-1" href="{% url 'users:user_login' %}">Войти в аккаунт</a>
            {% endif %}

        </div>
    </div>
</div>