{% extends 'base.html' %}

{% block title %}
{% if is_edit %}
    Изменение поискового паттерна
{% else %}
    Добавление поискового паттерна
{% endif %}
{% endblock %}

{% block header %} {% include 'includes/header.html' %} {% endblock %}
{% block content %}

<div class="min-vh-100 d-flex justify-content-center align-items-center">
    <form class="g-3 w-25" action="
        {% if is_edit %} 
            {% url 'logs:search_pattern_edit' search_pattern_id=search_pattern_id %}
        {% else %}
            {% url 'logs:search_pattern_add' %}
        {% endif %}" method="post">

        {% csrf_token %}

        {% for field in form %}
            <div class="col-12 mb-2">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div>{{ field }}</div>
            </div>
        {% endfor %}

        <div class="col-12 text-center">
            <button type="submit" class="btn btn-outline-light col-12 mt-2">
                {% if is_edit %}
                    Измененить поисковый паттерн
                {% else %}
                    Добавить поисковый паттерн
                {% endif %}
            </button>
        </div>
    </form>
</div>
<script>
    $("label[for='id_notification_types_0'] input").attr("disabled", true);

    var coefficientHidden = true;
    $("label[for='id_coefficient']").parent().attr("hidden", coefficientHidden);    

    function changeHiddenCoefficient () {
        var selectedOption = $('#id_search_type').find(":selected").val();
        if (selectedOption == "COEFFICIENT"){
            coefficientHidden = false;
        } else {
            coefficientValue = $('#id_coefficient').val('');
            coefficientHidden = true;
        }
        $("label[for='id_coefficient']").parent().attr("hidden", coefficientHidden);    
    }

    $("#id_search_type").on("change", changeHiddenCoefficient);
</script>
{% endblock %}