{% extends 'base.html' %}
{% block title %} Список поисковых паттернов {% endblock %}
{% block header %} {% include 'includes/header.html' %} {% endblock %}
{% block content %}
<div class="container mt-5 text-center">
    <h2 class="mb-4">Список добавленных поисковых паттернов</h2>

    <form class="col-12 mb-3 g-3" action="{% url 'logs:search_patterns_list' %}" method="post">
        {% csrf_token %}

        <div class="row">
            {% for field in form %}
                <div class="col-3 mb-2">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div>{{ field }}</div>
                </div>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-center text-center">
            <button type="submit" class="btn btn-outline-light col-2 mt-2">
                Поиск
            </button>
        </div>

    </form>

    {% if request.user.role in 'ADMIN,SPECIALIST' %}
        <a class="col-4 btn btn-outline-light mx-1 mb-4" href="{% url 'logs:search_pattern_add' %}">Добавить поисковый паттерн</a>
    {% endif %}
    <table class="table table-striped table-dark table-bordered border-white align-middle">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Описание</th>
                <th scope="col">Паттерн</th>
                <th scope="col">Тип поиска</th>
                <th scope="col">Типы оповещений</th>
                <th scope="col">Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for search_pattern in search_patterns %}
            <tr>
                <th scope="row" id="{{ search_pattern.id }}">{{ search_pattern.id }}</th>
                <td>{{ search_pattern.name }}</td>
                <td>{{ search_pattern.pattern }}</td>
                <td>{{ search_pattern.get_search_type_display }}</td>
                <td>
                    {% for notification_type in search_pattern.notification_types.all %}
                        <a class="col-10 btn btn-sm btn-outline-light m-1" href="{% url 'logs:search_pattern_edit' search_pattern_id=search_pattern.id %}">{{ notification_type }}</a>
                    {% endfor %}
                </td>
                <td>
                    {% if request.user.role in 'ADMIN,SPECIALIST' %}
                        <a class="col-7 btn btn-sm btn-outline-light m-1" href="{% url 'logs:search_pattern_edit' search_pattern_id=search_pattern.id %}">Изменить</a>
                        <a class="col-7 btn btn-sm btn-outline-light m-1" href="{% url 'logs:search_pattern_delete' search_pattern_id=search_pattern.id %}">Удалить</a>
                    {% else %}
                        —
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'includes/anchor_finder.html' %}
{% endblock %}