{% extends 'base.html' %}

{% block title %}
{% if is_edit %}
    Изменение лог-файла
{% else %}
    Добавление лог-файла
{% endif %}
{% endblock %}

{% block header %} {% include 'includes/header.html' %} {% endblock %}
{% block content %}

<div class="min-vh-100 d-flex justify-content-center align-items-center">
    <form class="g-3 w-25" action="
        {% if is_edit %} 
            {% url 'logs:log_file_edit' log_file_id=log_file_id %}
        {% else %}
            {% url 'logs:log_file_add' %}
        {% endif %}" method="post">

        {% csrf_token %}

        {% for field in form %}
        <div class="col-12 mb-2">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div>{{ field }}</div>
        </div>
        {% endfor %}

        <div class="col-12 text-center">
            <button type="submit" class="btn btn-outline-light col-12 mt-2">
                {% if is_edit %}
                    Измененить лог-файл
                {% else %}
                    Добавить лог-файл
                {% endif %}
            </button>
        </div>
    </form>
</div>

{% endblock %}