{% extends 'base.html' %}
{% block title %} Главная страница {% endblock %}
{% block header %} {% include 'includes/header.html' %} {% endblock %}
{% block content %}
<div class="container mt-5 text-center">
    <h2 class="mb-4">Список лог-файлов</h2>
    <a class="col-4 btn btn-outline-light mx-1 mb-4" href="{% url 'logs:log_file_add' %}">Создать лог-файл</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Название</th>
                <th scope="col">Путь</th>
                <th scope="col">Тип протокола / ПО</th>
                <th scope="col">Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for log_file in log_files %}
            <tr>
                <th scope="row">{{ log_file.id }}</th>
                <td>{{ log_file.name }}</td>
                <td>{{ log_file.path }}</td>
                <td>{{ log_file.log_file_type }}</td>
                <td>
                    <a class="col-4 btn btn-outline-dark mx-1" href="{% url 'logs:log_file_delete' log_file_id=log_file.id %}">Удалить</a>
                    <a class="col-4 btn btn-outline-dark mx-1">Изменить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}