{% extends 'base.html' %}
{% block title %} Главная страница {% endblock %}
{% block header %} {% include 'includes/header.html' %} {% endblock %}
{% block content %}
<div class="container mt-5 text-center">
    <h2 class="mb-4">Список добавленных лог-файлов для одноразового сканирования</h2>
    <a class="col-4 btn btn-outline-light mx-1 mb-4" href="{% url 'logs:one_time_scan_add' %}">Добавить лог-файл</a>
    <table class="table table-striped table-dark table-bordered border-white align-middle">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Описание</th>
                <th scope="col">Путь</th>
                <th scope="col">Тип протокола / ПО</th>
                <th scope="col">Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for log_file in log_files %}
            <tr>
                <th scope="row" id="{{ log_file.id }}">{{ log_file.id }}</th>
                <td>{{ log_file.name }}</td>
                <td>{{ log_file.path }}</td>
                <td>
                    {% if log_file.type %}
                        <a class="col-10 btn btn-sm btn-outline-light mx-1" href="{% url 'logs:log_types_list'%}#{{ log_file.type.id }}">{{ log_file.type }}</a>
                    {% else %}
                        —
                    {% endif %}
                </td>
                <td>
                    <a class="col-6 btn btn-sm btn-outline-light m-1" href="{% url 'logs:one_time_scan_anomalous_events_list' log_file_id=log_file.id %}">Результаты</a>
                    <a class="col-6 btn btn-sm btn-outline-light m-1" href="{% url 'logs:one_time_scan_delete' log_file_id=log_file.id %}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'includes/anchor_finder.html' %}
{% endblock %}