{% extends 'base.html' %}
{% block title %} Создание пользователя {% endblock %}
{% block header %} {% endblock %}
{% block content %}
<div class="min-vh-100 d-flex justify-content-center align-items-center">
    <form class="g-3 w-25" action="/auth/create/" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="col-12 mb-2">

            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}

        </div>
        {% endfor %}
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-outline-light col-12 mt-3">Создать пользователя</button>
        </div>
    </form>
</div>
{% endblock %}