{% extends 'base.html' %}
{% load static %}
{% block title %} Главная страница {% endblock %}
{% block header %} {% include 'includes/header.html' %} {% endblock %}
{% block content %}
<div class="d-flex justify-content-between align-items-top my-2">
    <div class="w-75 m-3 my-2" id="logs_graph"></div>
    

    <form class="w-25 mx-3 my-2 g-3" action="{% url 'logs:main_page' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="col-12 mb-2">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div>{{ field }}</div>
        </div>
        {% endfor %}

        <div class="col-12 text-center">
            <button type="submit" class="btn btn-outline-light col-12 mt-2">
                Поиск
            </button>
        </div>
    </form>
</div>

<div class="d-flex justify-content-start mx-3">
    <table class="table table-striped table-dark table-bordered border-white align-middle text-center">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Событие</th>
                <th scope="col">Фактическое дата и время</th>
                <th scope="col">Дата и время детекции</th>
                <th scope="col">Лог-файл</th>
                <th scope="col">Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for anomalous_event in anomalous_events %}
            <tr>
                <th scope="row" id="{{ anomalous_event.id }}">{{ anomalous_event.id }}</th>
                <td>{{ anomalous_event.text }}</td>
                <td>
                    {% if anomalous_event.fact_datetime %}
                        {{ anomalous_event.fact_datetime }}
                    {% else %}
                        —
                    {% endif %}
                </td>
                <td>{{ anomalous_event.detected_datetime }}</td>
                <td>
                    <a class="col-10 btn btn-sm btn-outline-light mx-1" href="{% url 'logs:log_files_list'%}#{{ anomalous_event.log_file.id }}">{{ anomalous_event.log_file }}</a>
                </td>
                <td>
                    <a class="col-7 btn btn-sm btn-outline-light m-1" href="{% url 'logs:anomalous_event_delete' anomalous_event_id=anomalous_event.id %}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var dirtyLogsMetrics = {{ logs_metrics|safe }};
    var newMetric = null;
    var cleanedLogsMetrics = null;
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function cleanDatetime(el) {
        var timeOptions = { year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' };
        var cleanedDatetime = new Date(el[0]);
        return [cleanedDatetime, el[1]];
    }
    
    function concatMetrics(array1, array2) {
        var found = false;
        var count = 0;
        for (var el in array1) {
            if (array1[count][0].toString() == array2[0][0].toString()) {
                array1[count][1] = array1[count][1] + array2[0][1];
                found = true;
                break;
            }
            count++;
        }
        if (!found) {
            array1.push(array2[0]);
        }

        return array1;
    }


    function drawChart() {
        
        if (newMetric) {
            cleanedNewMetric = newMetric.map(cleanDatetime);
            cleanedLogsMetrics = concatMetrics(cleanedLogsMetrics, cleanedNewMetric).sort();
        } else {
            cleanedLogsMetrics = dirtyLogsMetrics.map(cleanDatetime);
        }
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Дата и время');
        data.addColumn('number', 'Количество аномальных событий');
        data.addRows(cleanedLogsMetrics);

        var options = {
            curveType: 'function',
            chartArea: {
                left: '5%',
                top: '10%',
                width: '92.5%',
                height: '80%'
            },
            title: 'Количество аномальных событий период с {{ start_datetime }} по {{ end_datetime }}',
            legend: {
                position: 'bottom'
            },
            pointSize: 2,
            fontSize: 16,
            hAxis: {
                format: 'HH:mm',
                gridlines: {
                    count: -1
                },
                textPosition: 'out',
                textStyle: {
                    fontSize: 12,
                    bold: true
                }

            },
            vAxis: {
                format: "#",
                viewWindow: {
                    min: 0
                },
                textPosition: 'out',
                textStyle: {
                    fontSize: 16,
                    bold: true
                }
            },
        };

        var chart = new google.visualization.LineChart(document.getElementById('logs_graph'));

        chart.draw(data, options);
    }
</script>
{% endblock %}

{% block websocket_notificator %}
    <audio id="notificationSound" preload="auto" src="{% static 'audio/notification.mp3' %}"></audio>
    <div id="notificationContainer" class="position-fixed bottom-0 end-0 p-3" style="display: none;">
        <div class="card" id="notificationWrapper" style="max-width: 470px;">
            <div class="card-header bg-danger text-dark d-flex justify-content-between">
                <strong>Уведомление</strong>
                <button type="button" class="btn-close"></button>
            </div>
            <div class="card-body text-dark">
                <!-- websocket message  -->
            </div>
        </div>
    </div>
    <script>
        socket_url = 'ws://' + window.location.hostname + ":" + window.location.port + '/ws'
        const socket = new WebSocket(socket_url);
        const notificationSound = document.getElementById('notificationSound');

        socket.onmessage = function (event) {
            try {
                var data = JSON.parse(event.data);

                $('#notificationContainer').show();
                notificationSound.play();
                setTimeout(function () {
                    $('#notificationContainer').hide();
                }, 10000);
                $('#notificationWrapper .card-body').text(
                    "[" + data.id + "] В лог-файле " + data.log_file.name + " произошло новое событие: " + data.text
                );

                var tableRows = $('.table tbody tr');
                if (tableRows.length > 5) { 
                    tableRows.last().remove();
                }
                
                var timeOptions = { year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' };

                if (data.fact_datetime == 'None') {
                    data.fact_datetime = '—';
                }
                else {
                    data.fact_datetime = new Date(data.fact_datetime).toLocaleDateString('ru-RU', timeOptions).replace('в', '');
                }
                
                data.detected_datetime = new Date(data.detected_datetime).toLocaleDateString('ru-RU', timeOptions).replace('в', '');

                $('.table tbody').prepend('<tr>');
                $('.table tbody tr').first().append('<th scope="row" id="' + data.id + '">' + data.id + '</th>');
                $('.table tbody tr').first().append('<td>' + data.text + '</td>');
                $('.table tbody tr').first().append('<td>' + data.fact_datetime + '</td>');
                $('.table tbody tr').first().append('<td>' + data.detected_datetime + '</td>');
                $('.table tbody tr').first().append("<td><a class='col-10 btn btn-sm btn-outline-light mx-1' href='{% url 'logs:log_files_list'%}#" + data.log_file.id + "'>" + data.log_file.name + "</a></td>");
                $('.table tbody tr').first().append("<td><a class='col-7 btn btn-sm btn-outline-light m-1' href='/logs/anomalous-events/" + data.id + "/delete'>Удалить</a></td>");
                $('.table tbody').prepend('</tr>');

                newMetric = data.new_log_metric;
                drawChart();
            } catch (e) {
                console.log('Error:', e.message);
            }
        };

        $('.btn-close').click(function () {
            $('#notificationContainer').hide();
        });
    </script>
{% endblock %}