{% extends 'base.html' %}
{% load static %}
{% block title %} Главная страница {% endblock %}
{% block header %} {% include 'includes/header.html' %} {% endblock %}
{% block content %}

<div class="d-flex justify-content-between align-items-top">

    {% load googlecharts %}
    <div class="w-75 m-3" id="logs_graph"></div>
    
    {% googlecharts %}
        {% data logs_metrics "logs_data" %}
            {% col "string" "Время аномального события" %}
                "{{ val }}"
            {% endcol %}
            {% col "number" "Количество аномальных событий" %}
                {{ val }}
            {% endcol %}
        {% enddata %}
    
        {% options "logs_options" %}
            kind: "LineChart",
            options: {
                backgroundColor: "#e8e8e8",
                colors: ["#ff001a"],
                legend: { position: 'bottom' },
                title: "Количество аномальных событий период с {{ start_date }} по {{ end_date }}",
            }
        {% endoptions %}
    
        {% graph "logs_graph" "logs_data" "logs_options" %} 
    {% endgooglecharts %}

    <form class="w-25 m-3 g-3" action="{% url 'logs:main_page' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="col-12 mb-2">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div>{{ field }}</div>
        </div>
        {% endfor %}

        <div class="col-12 text-center">
            <button type="submit" class="btn btn-outline-light col-12 mt-3">
                ОК
            </button>
        </div>
    </form>

</div>



<audio id="notificationSound" preload="auto" src="{% static 'audio/notification.mp3' %}"></audio>

<div id="notificationContainer" class="position-fixed bottom-0 end-0 p-3" style="display: none;">
    <div class="card" id="notificationWrapper" style="max-width: 470px;">
        <div class="card-header bg-danger text-dark d-flex justify-content-between">
            <strong>Уведомление</strong>
            <button type="button" class="btn-close"></button>
        </div>
        <div class="card-body text-dark">
            <!-- websocket message  -->
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    const socket = new WebSocket('ws://127.0.0.1:8000/ws');
    const notificationSound = document.getElementById('notificationSound');

    socket.onmessage = function (event) {
        try {
            console.log(event);
            $('#notificationContainer').show();
            notificationSound.play();
            setTimeout(function () {
                $('#notificationContainer').hide();
            }, 10000);
            $('#notificationWrapper .card-body').text(event.data);
        } catch (e) {
            console.log('Error:', e.message);
        }
    };

    $('.btn-close').click(function () {
        $('#notificationContainer').hide();
    });
</script>





{% endblock %}