{% extends 'base.html' %}
{% block title %} Список типов протоколов / ПО {% endblock %}
{% block header %} {% include 'includes/header.html' %} {% endblock %}
{% block content %}
<div class="container mt-5 text-center">
    <h2 class="mb-4">Список добавленных типов протоколов / ПО</h2>

    <form class="col-12 mb-3 g-3" action="{% url 'logs:log_types_list' %}" method="post">
        {% csrf_token %}

        <div class="row">
            {% for field in form %}
                <div class="col-6 mb-2">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div>{{ field }}</div>
                </div>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-center text-center">
            <button type="submit" class="btn btn-outline-light col-2 mt-2">
                Поиск
            </button>
        </div>

    </form>

    {% if request.user.role in 'ADMIN,SPECIALIST' %}
        <a class="col-4 btn btn-outline-light mx-1 mb-4" href="{% url 'logs:log_type_add' %}">Добавить тип протокола / ПО</a>
    {% endif %}
    <table class="table table-striped table-dark table-bordered border-white align-middle">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Описание</th>
                <th scope="col">Поисковые паттерны</th>
                <th scope="col">Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for log_type in log_types %}
            <tr>
                <th scope="row" id="{{ log_type.id }}">{{ log_type.id }}</th>
                <td>{{ log_type.name }}</td>
                <td>
                    {% if log_type.search_patterns.count %}
                        {% for search_pattern in log_type.search_patterns.all %}
                            <a class="col-10 btn btn-sm btn-outline-light m-1" href="{% url 'logs:search_patterns_list' %}#{{ search_pattern.id }}">{{ search_pattern }}</a>
                        {% endfor %}
                    {% else %}
                        —
                    {% endif %}
                </td>
                <td>
                    {% if request.user.role in 'ADMIN,SPECIALIST' %}
                        <a class="col-7 btn btn-sm btn-outline-light m-1" href="{% url 'logs:log_type_edit' log_type_id=log_type.id %}">Изменить</a>
                        <a class="col-7 btn btn-sm btn-outline-light m-1" href="{% url 'logs:log_type_delete' log_type_id=log_type.id %}">Удалить</a>
                    {% else %}
                        —
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'includes/anchor_finder.html' %}
{% endblock %}