{% extends 'base.html' %}

{% block title %}
{% if is_edit %}
    Изменение типа протокола / ПО
{% else %}
    Добавление типа протокола / ПО
{% endif %}
{% endblock %}

{% block header %} {% include 'includes/header.html' %} {% endblock %}
{% block content %}

<div class="min-vh-100 d-flex justify-content-center align-items-center">
    <form class="g-3 w-25" action="
        {% if is_edit %} 
            {% url 'logs:log_type_edit' log_type_id=log_type_id %}
        {% else %}
            {% url 'logs:log_type_add' %}
        {% endif %}" method="post">

        {% csrf_token %}

        {% for field in form %}
        <div class="col-12 mb-2">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div>{{ field }}</div>
        </div>
        {% endfor %}

        <div class="col-12 text-center">
            <button type="submit" class="btn btn-outline-light col-12 mt-3">
                {% if is_edit %}
                    Измененить тип протокола / ПО
                {% else %}
                    Добавить тип прокотокола / ПО
                {% endif %}
            </button>
        </div>
    </form>
</div>

{% endblock %}